<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="col-md-3">
                <img src="../../../assets/clima.png" alt="ImagenClima" class="img-fluid">
            </div>
            <div class="container-fluid">
                Clima
            </div>
        </div>
        <div class="col-md-3">
            <h3>Chile</h3>
        </div>
    </div>
</div>


<div class="container-fluid">
    <form class="form" [formGroup]="Formulario" (ngSubmit)="Validar()">
        <div class="row">
            <div class="col-md-12">
                <select name="Region" formControlName="Region">
                    <option selected>Seleccione una region</option>
                    <option *ngFor="let region of listaRegiones">{{region.nombre}}</option>
                </select>
            </div>
            <div class="col-md-12" >
                <p>Estado del clima</p>
                <div class="form-check" >
                    <input class="form-check-input" type="radio" formControlName="Clima" name="s" value="Soleado">
                    <label class="form-check-label" for="Soleado">
                        Soleado
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="Clima" name="s" value="Lluvioso">
                    <label class="form-check-label" for="Lluvioso">
                        Lluvioso
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="Clima" name="s" value="Nublado">
                    <label class="form-check-label" for="Nublado">
                        Nublado
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="Clima" name="s" value="Tormenta">
                    <label class="form-check-label" for="Tormenta">
                        Tormenta
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <p>Día</p>
                <select name="Dia" formControlName="Dia">
                    <option selected>Seleccione el día</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miercoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>
                </select>
            </div>
            <div class="col-md-12">
                <p>Temperatura</p>
                <input  formControlName="Temperatura" type="number">
            </div>
            <div class="col-md-6" >
                <p>Grados</p>
                <div class="form-check">
                    <input class="form-check-input" formControlName="Grados" type="radio" name="a" value="Celcius">
                    <label class="form-check-label" for="Celcius">
                        Celcius
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" formControlName="Grados" type="radio" name="a" value="Farenheit">
                    <label class="form-check-label" for="Farenheit">
                        Farenheit
                    </label>
                </div>
            </div>
            <button type="submit" [routerLink]="['/']">Actualizar</button>
        </div>
    </form>
</div>

