button{
    background:none;
    border:none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

li{
    list-style: none;
    margin:5px;
}

.card{
    width: 150px;
    margin: 5px;
}